body {
    text-align: center;
}

.root {
background: url(/images/background/books.png) no-repeat;
    color: #fff;
    width: 845px;
    display: inline-block;
    padding: 0 0 20px 0;
}

.flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
}

.flex-item {
    flex: 1 1 auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
}

h1 {
    font-size: 30px;
    margin:  25px 0 15px 0;
}

p {
    margin: 0 0 15px;;
}

.title2 {
    font-size: 30px;
}

.title3 {
    font-size: 40px;
}

.title4 {
    color: #36B2FB;
    font-size: 45px;
}

.desc {
    font-size: 1.2em;
    text-align: left;
    padding: 0 15px;
    margin: 0 0 10px;
}

.border {
    border-bottom: #fff solid 3px;
    margin: 20px 25px;
}

.award {
    margin: 0 0 30px 30px;
}

.award-header {
    margin: 0 0 0 12px;
}

.award-header img, .award-header h2 {
    float: left;
}
.award-header h2 {
    margin: 10px 0px 0 18px;
}

.award p {
    clear: left;
    padding: 7px 0 5px 15px;
    margin: 0;
    text-align: left;
}

.award .flex-item {
    width: 50%;
}

.rty-bar {
    clear: left;
    margin: 0 0 0 15px;
}

.subject {
    margin: 0 0 20px 0;
}